<%- include('top') %>

    <body>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>About Us</h1>
                </div>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>IPa.wtf is a simple web service that provides information about 
                    your IP address and User Agent and ISP host information. 
                    We also provide a few other services 
                    such as IP and domain lookups and many more!
                    </h2>
                    
                </div>
            </div>
        </div>

    </body>

<%- include('bot') %>

