<%- include('top') %>
    <script>
        $(document).ready(async function () {
            app.api.get('service/json', function (error, data) {
                console.log(data);
                console.log(data.ip);
                $.scope.ipInfo.update(data);

            });
        });
    </script>

    <body>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h1>IPa.wtf</h1> -->
                </div>
            </div>
        </div>

        </div>
        <!-- <div class="services-bar" jq-repeat="LatestSensorData">-->
        <div class="main-container" jq-repeat="ipInfo">
            <br>
            <h1>Your IP:</h1>
            <h3>{{ ip }}</h3>
            <br>
            <h1>Your Browser:</h1>
            <h3>{{ browser }}</h3>
            <br>
            <h1>Your Hostname:</h1>
            <h3>{{ hostname }}</h3>
            <br>
            <h1>Your ISP:</h1>
            <h3>{{ asn_org }}</h3>
            <br>
            <h1>Your Location:</h1>
            <h3>{{ city }}, {{ country }}</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Our links and Services:</h2>
            <h2><a href="https://github.com/Newtbot/IPa">Our GitHub</a></h2>
            <h2><a href="api/v0/service/json">JSON</a></h2>
            <h2><a href="api/v0/service/yaml">YAML</a></h2>
            <h2><a href="api/v0/service/text">TEXT</a></h2>
        </div>

    </body>

    <%- include('bot') %>