<%- include('top') %>
    <script>

    </script>

    <body>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h1>IPa.wtf</h1> -->
                </div>
            </div>
        </div>

        </div>
        <div class="main-container">
        <br>
        <h1>Your IP:</h1>
        <br>
        <h1>Your Browser:</h1>
        <br>
        <h1>Your hostname:</h1>
        <br>
        <h1>Your ISP:</h1>
        <br>
        <h1>Your Location:</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
        <br>       
         <br>


        <br>
        <h2>Our links and Services:</h2>
        <h2><a href="https://github.com/Newtbot/IPa">Our GitHub</a></h2>
        <h2><a href="#">JSON</a></h2>
        <h2><a href="#">YAML</a></h2>
        <h2><a href="#">TEXT</a></h2>
        </div>

    </body>

<%- include('bot') %>

