<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IPA.wtf</title>
        <style>
            body {
                background-color: black;
                color: white; /* Set text color to white for better visibility */
            }
        </style>
    </head>
    <body>
        <center><h1>Your IP:</h1></center>
        <center><h2>${ip}</h2></center>

        <center><h1>Your User Agent:</h1></center>

        <center><h1>Your hostname:</h1></center>

        <center><h1>Your ISP:</h1></center>

        <center><h1>Your Location:</h1></center>

        <br>
        <br>
        <br>

        <center><h2>Our links and Services:</h2></center>
        <center><h2><a href="https://github.com/Newtbot/IPa">Our GitHub</a></h2></center>
        <center><h2><a href="#">JSON</a></h2></center>
        <center><h2><a href="#">YAML</a></h2></center>
        <center><h2><a href="#">TEXT</a></h2></center>

        <br>
        <br>
        <br>

        <center><h2> About us </h2></center>
        <center><h2>IPa.wtf is a simple service that provides information about 
        your IP address and User Agent. We also provide a few other services 
        such as IP and domain lookups. 
        </h2></center>

    </body>
    </html>