<%- include('top') %>

    <body>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Terms of Service</h1>
                </div>
            </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                    By using this service, you agree to the following terms of service:
                    <br>
                    <br>
                    1. You agree to not use this service for any illegal activities.
                    <br>
                    2. You agree to not use this service to harm or harass others.
                    <br>
                    3. No commercial use of this service is allowed.
                    </h2>
                    
                </div>
            </div>
        </div>

    </body>

<%- include('bot') %>

